/*开始版权*/
body,a{ color:#666;font-family:'Microsoft YaHei';font-size:14px;}
.copyright-copy-box{ width:1190px;padding-top:20px;height:195px;}
.copyright-full-bottom{background:#f2f2f2;padding-bottom:10px;margin-top:20px;}
.copyright-copy-con{margin-top:20px;}
.copyright-copy-con ul li{margin-bottom:10px}
.copyright-copy-con ul li,.copyright-copy-con ul li a{color:#555;font-family:"Microsoft YaHei";}
.copyright-copy-con ul li a:hover{color:#f60;}
.copyright-copy-con ul{display:inline-block;width:230px;overflow:hidden;margin:0;}
.copyright-copy-con-weight{ font-size:16px;font-weight:600;color:#333!important;height:40px;line-height:55px;margin-bottom: 20px!important;}
.t2152-copyright-copy{float:right;	width:240px;overflow:hidden;}
.t2152-copyright-copy h2{font-size:16px;font-weight:600;color:#333;height:40px;line-height:55px;}
.t2152-copyright-copy-con{}
.t2152-copyright-copy-con .global-common-pic-list-text{}
.t2152-copyright-copy-con .global-common-pic-list-text li{float:left;width:100px;margin:21px 20px 0 0px;display:inline;text-align:center;overflow:hidden;}
.t2152-copyright-copy-con .global-common-pic-list-text li span{width:100px;height:100px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:100px;overflow:hidden;border:none;}
.t2152-copyright-copy-con .global-common-pic-list-text li a{display:block;width:100px;font-family:"Microsoft YaHei";text-align:center;}
.t2152-copyright-copy-con .global-common-pic-list-text li span a{width:100px;height:100px;}
.t2152-copyright-copy-con .global-common-pic-list-text li img{max-width:100px;max-height:100px;width:100%;height:100%;}
.t2152-copyright-copy-con .global-common-pic-list-text li p,.global-common-pic-list-text li p a{white-space:pre;overflow:hidden;height:30px;line-height:30px;font-size: 14px;}
.authentication ul{ margin-top:10px;text-align:center;}
.authentication li{ display:inline;margin:0 5px;}
.authentication li img{ height:30px;}
.t2051-comcopyright-imglist-box{ text-align:center;}
/*links*/
.links{ text-align:center;color:#666;height:26px;}
.links a{ margin:0 10px;color:#666;}
/*0917*/
.t1124-com-footer-cate{width:1190px;height:26px;line-height:26px;padding-top:26px;border-top:1px solid #e6e6e6;margin:20px auto 0px auto;}
.t1124-copyright-footer-top{ height:24px;overflow:hidden;position:relative;color:#666;}
.t1124-com-footer-cate .t1124-copyright-footer-top a{ margin:0 7px;color:#666;}
.copyright-full-bottom p a:hover{ color:#ffa200;}
.copyright-full-bottom p a{color:#666;}
.copyright-footer{border:none;width:1190px;margin:0 auto;}
.copyright-footer p{font-size:12px;color:#555;text-align:center;}
.copyright-footer p.bottom-liu{width:180px;height:32px;line-height:32px;text-align:center;font-size:14px;border-radius:12px;color:#555;background:#ececec;margin-top:10px;margin:10px auto}
.copyright-footer p.bottom-liu em{color:#f60;}
.copyright-footer p.gs img{width:40px;height:56px;}

.common-link-box{width:1190px;height:auto;margin:0 auto;float:none;border:none;margin-top:30px;}
.t2131-ind-bkqj-title2 {position:relative;height:32px;width:100%;text-align:center;}
.t2131-ind-bkqj-title2 h2 {position:absolute;left:0;top:0px;width:100%}
.t2131-ind-bkqj-title2 h2 span {/* background:#f8f8f8; */padding:0 23px;color:#333;font-size:18px;line-height:32px;font-weight:bold;}
.t2131-ind-bkqj-title2 h2 em {width:535px;height:14px;background:#e5e5e5;display:inline-block;}
.common-link-box-con{line-height:24px;height:auto;padding:15px 0px 0px 0px;width:1190px;overflow:hidden;border:none;}
.common-link-box-con a{padding:0px 10px 0px 0px;font-family:"microsoft yahei";font-size:14px;color:#555;}
.common-link-box-con a:hover{color:#f60;}

/*友情链接*/
