
/*产业联盟通栏样式*/
.mt20{margin-top: 20px;}
#uad_div_ele{ width:1190px;margin: 0 auto;}
#uad_div_ele .t1127-ind-full-adcolumn1-con{width:1190px;overflow:hidden;margin-top:20px;height:auto;}
#uad_div_ele .t1127-ind-full-adcolumn1-con .advertising-common-single-img{width:1190px;height:90px;padding:0;overflow:hidden;}
#uad_div_ele .t1127-ind-full-adcolumn1-con .advertising-common-single-img img{width:1190px;height:90px;padding:0;overflow:hidden;}
